{% extends "base.html" %}
{% load static %}
{% block content %}

<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="{% url 'home' %}" class="nav__logo">ICAMiam</a>
        <a href="{% url 'logout' %}" class="nav__logo">Déconnexion</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="{% url 'home' %}" class="nav__link">Accueil</a></li>
            </ul>
        </div>
    </nav>
</header>
<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__img">
            <img src="{% static "img/valide.gif" %}" alt="">
        </div>

        <div class="home__data">
            <h1>Votre numéro de commande est : {{ order_number }}</h1>
        </div>
    </div>

    
</section>


{% endblock %}